<template>
  <transition name="fade">
    <div v-if="ready" class="admin-layout">
      <!-- MODULES -->
      <v-card class="admin-panel">
        <v-card-title class="admin-panel-title">{{ $t('Modules') }}</v-card-title>
        <v-card-text v-if="modules" class="admin-list ig-scrollable">
          <div v-if="m" class="admin-tile elevation-2" v-for="m in modules" :key="m.name">
            <b>{{ m.name }}</b>
            <div v-if="m.subs" v-for="s in Object.keys(m.subs || {})"
              :key="JSON.stringify(s)"
              class="admin-tile-small">
              {{ s }}
            </div>
          </div>
        </v-card-text>
      </v-card>

      <!-- SERVICES -->
      <v-card class="admin-panel">
        <v-card-title class="admin-panel-title">{{ $t('Services') }}</v-card-title>
        <v-card-text v-if="services" class="admin-list ig-scrollable">
          <div :id="'service_' + m.name" v-if="m" class="admin-tile services elevation-2"
            :class="{ 'iios': m.options }"
            :title="m.name"
            v-for="m in $services.servicesDico" :key="m.name">
            <div class="admin-tile-title">{{ m.name }}</div>
            <div v-if="m.options" class="admin-health-ind"></div>
          </div>
        </v-card-text>
      </v-card>

      <!-- SETTINGS -->
      <v-card class="admin-panel">
        <v-card-title class="admin-panel-title">{{ $t('Settings') }}</v-card-title>
        <v-card-text class="admin-settings-content ig-scrollable">
          <hr/>
          <h4 class="admin-section-title">{{ $t('RPC') }}</h4>
          <v-text-field style="width: 200px;" :label="$t('RPC timeout')"
            v-model="rpcTimeout" type="number">
          </v-text-field>

          <hr/>
          <h4 class="admin-section-title">{{ $t('Theming') }}</h4>
          <div style="display: flex; align-items: center">
            <h5 style="margin-right: 8px">{{ $t('Toolbar color') }}</h5>
            <colorpicker class="admin-settings-color"
              :value="$store.state.toolbarColor"
              @input="$store.commit('toolbarColor', $event)"></colorpicker>
          </div>

          <div style="display: flex; align-items: center; height: 32px">
            <h5 style="margin-right: 8px">{{ $t('Flat toolbar') }}</h5>
            <v-checkbox v-model="$store.state.flatToolbar"
              @change="$store.commit('flatToolbar', $event)"></v-checkbox>
          </div>

          <div style="display: flex; align-items: center; height: 32px">
            <h5 style="margin-right: 8px">{{ $t('Show section name') }}</h5>
            <v-checkbox v-model="$store.state.showSection"
              @change="$store.commit('showSection', $event)"></v-checkbox>
          </div>

          <div style="display: flex; align-items: center; height: 32px">
            <h5 style="margin-right: 8px">{{ $t('Dark theme') }}</h5>
            <v-checkbox v-model="$store.state.darkTheme"
              @change="handleDarkTheme"></v-checkbox>
          </div>
        </v-card-text>
      </v-card>

      <!-- REDIS -->
      <v-card class="admin-panel">
        <v-card-title class="admin-panel-title">{{ $t('Redis') }}</v-card-title>
        <v-card-text class="ig-scrollable">
          <div v-for="(k, index) in redisKeys"
            :key="index"
            class="admin-key elevation-1">
            {{ k }}

            <v-icon @click.stop.prevent="handleDeleteRedisKey(k)"
              class="admin-icon ig-clickable" color="red">clear</v-icon>
          </div>
        </v-card-text>
      </v-card>

      <!-- STATS -->
      <v-card class="admin-panel">
        <v-card-title class="admin-panel-title">{{ $t('Stats') }} - {{ $t('CPU') }}</v-card-title>
        <v-card-text>
          <div id="cpuStatsChart" class="admin-chart"></div>
        </v-card-text>
      </v-card>

      <!-- SERVICES STATS -->
      <v-card class="admin-panel">
        <v-card-title class="admin-panel-title">{{ $t('Stats') }} - {{ $t('Services') }}</v-card-title>
        <v-card-text>
          <div id="svcStatsChart" class="admin-chart"></div>
        </v-card-text>
      </v-card>
    </div>
  </transition>
</template>

<script>
import * as d3 from 'd3'
import request from 'request'
import ColorPicker from '../components/iio/ColorPicker.vue'
import dayjs from 'dayjs'
import colors from 'vuetify/es5/util/colors'

const CpuIntervalMax = 14

export default {
  data() {
    return {
      ready: false,
      modules: [],
      services: [],
      rpcTimeout: 5000,
      redisKeys: [],
      statsCPU: []
    }
  },
  watch: {
    rpcTimeout: function(val) {
      this.$services.rpcTimeout = val
    }
  },
  components: {
    'colorpicker': ColorPicker,
  },
  computed: {

  },
  methods: {
    handleDarkTheme(val) {
      this.$store.commit('darkTheme', val)
      if (val) {
        this.$vuetify.theme.primary = colors.amber.darken2
        this.$store.commit('toolbarColor', 'transparent')
      } else {
        this.$vuetify.theme.primary = colors.blue.darken2
        this.$store.commit('toolbarColor', 'white')
      }
    },
    updateCPUChart() {
      let options = {
        chart: {
          height: 200,
          type: 'line',
          animations: {
            dynamicAnimation: {
              enabled: false
            }
          },
          toolbar: {
            show: false
          }
        },
        colors: [ '#808000', '#6B8E23', '#9ACD32' ],
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        series: [
          {
            name: this.$i18n.$t('Avg 1min'),
            data: []
          },
          {
            name: this.$i18n.$t('Avg 5min'),
            data: []
          },
          {
            name: this.$i18n.$t('Avg 15min'),
            data: []
          }
        ],
        title: {
          text: this.$i18n.$t('CPU load'),
          align: 'left'
        },
        markers: {
          size: 0
        },
        xaxis: {
          range: CpuIntervalMax,
          tickAmount: CpuIntervalMax
        },
        yaxis: {
          min: 0,
          max: 5
        },
        legend: {
          show: false
        }
      }

      this.cpuChart = new global.ApexCharts(
        document.querySelector('#cpuStatsChart'),
        options
      )

      this.cpuChart.render()
    },
    updateSvcChart() {
      let options = {
        chart: {
          height: 200,
          type: 'line',
          animations: {
            dynamicAnimation: {
              enabled: false
            }
          },
          toolbar: {
            show: false
          }
        },
        colors: [ '#00CED1' ],
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        series: [
          {
            name: this.$i18n.$t('Calls'),
            data: []
          }
        ],
        title: {
          text: this.$i18n.$t('Services call per minute'),
          align: 'left'
        },
        markers: {
          size: 0
        },
        xaxis: {
          range: 20,
          tickAmount: 2
        },
        yaxis: {
          min: 0,
          max: 40
        },
        legend: {
          show: false
        }
      }

      this.svcChart = new global.ApexCharts(
        document.querySelector('#svcStatsChart'),
        options
      )

      this.svcChart.render()
    },
    update() {
      this.$services.waitForProperty(this.$ws.socket, '_logged').then(() => {
        this.$services.waitForService('apigateway').then(gateway => {
          gateway.redisKeys({ pattern: '*' }).then(result => {
            this.redisKeys = result.keys
          }).catch(err => console.log(err))
        }).catch(err => console.log(err))
      }).catch(err => console.log(err))

      // modules
      this.$modules.waitForService('app').then(appServiceModule => {
        appServiceModule.modules().then(result => {
          this.modules = []

          if (result) {
            for (let m in result.list) {
              this.modules.push(result.list[m])
            }
          }
        })
      })
    },
    handleDeleteRedisKey(key) {
      this.$services.apigateway.redisDelKey({ name: key }).then(() => {
        this.update()
      }).catch(err => console.log(err))
    },
    handleHeartBeat(data) {
      let service = _.find(this.$services.servicesDico, e => {
        return e.name === data.service
      })

      if (service) {
        service.status = data.status
        if (service.status === 'alive') {
          d3.select('#service_' + service.name).select('.admin-health-ind')
            .style('opacity', 1)
            .transition().duration(4000).style('opacity', 0)
        }

        d3.select('#service_' + service.name).select('.admin-health-ind')
          .transition().duration(4000).style('opacity', 0)
      }
    }
  },
  mounted() {
    this._listeners = {
      handleHeartBeat: this.handleHeartBeat
    }

    // toolbar section name display
    this.$store.commit('section', this.$i18n.$t('Administration'))

    // get config
    this.$services.waitForProperty(this.$ws.socket, '_logged').then(async () => {
      let cfg = await this.$utils.getConfig()

      if (cfg.unified.settings) {
        this.rpcTimeout = cfg.unified.settings.rpcTimeout
      }
      this.ready = true
      this.update()

      this.healthReq = setInterval(() => {
        request.get(window.location.href.split('#')[0]
          + 'api/healthcheck?api_key=' + cfg.rest.apiKeys[0], (err, response) => {
            let info = JSON.parse(response.toJSON().body)
            // console.log(info)
            this.cpusTotal = info.cpus.length
            let d = []
            for (let i = 0; i < info.loadavg.length; i++) {
              d.push({ data: [ info.loadavg[i] ] })
            }

            this.cpuTimeLabels = this.cpuTimeLabels || []
            this.cpuTimeLabels.push(dayjs().format('HH:mm:ss'))
            this.cpuChart.appendData(d)
            if (this.cpuTimeLabels.length > CpuIntervalMax) {
              this.cpuTimeLabels.shift()
            }

            this.cpuChart.updateOptions({ 
              labels: this.cpuTimeLabels
            })

            if (this.svcChart) {
              let calls = _.map(this.$services.perMinuteCalls, e => {
                return e.y
              })

              let labels = _.map(this.$services.perMinuteCalls, e => {
                return dayjs(e.t).format('HH:mm:ss')
              })

              this.svcChart.updateSeries([
                { 
                  data: calls
                }
              ])

              this.svcChart.updateOptions({ 
                labels: labels
              })
            }
          })
      }, 1000)

      this.$ws.socket.on('service:heartbeat:event', this._listeners.handleHeartBeat)
    }).catch(err => console.log(err))

    this.$utils.loadApexCharts().then(async Chart => {
      this.$utils.waitForDOMReady('#cpuStatsChart').then(el => {
        this.updateCPUChart()
      }).catch(err => console.log(err))

      this.$utils.waitForDOMReady('#svcStatsChart').then(el => {
        this.updateSvcChart()
      }).catch(err => console.log(err))
    }).catch(err => console.log(err))

    this.$services.$on('service:up', this.$forceUpdate)
    this.$services.$on('service:down', this.$forceUpdate)
  },
  beforeDestroy() {
    this.cpuChart.destroy()
    this.svcChart.destroy()
    clearInterval(this.healthReq)
    this.$services.$off('service:up', this.$forceUpdate)
    this.$services.$off('service:down', this.$forceUpdate)
    this.$ws.socket.off('service:heartbeat:event', this._listeners.handleHeartBeat)
  }
}
</script>

<style>
.admin-layout {
  width: 100%;
  height: calc(100% - 0px);
  padding: 2px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.admin-panel {
  width: calc(50% - 8px);
  height: 300px;
  margin: 4px;
}

.admin-list {
  height: calc(100% - 53px);
  padding: 2px 8px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

.admin-tile {
  width: 180px;
  margin: 3px;
  padding-bottom: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.admin-tile.services {
  width: 90px;
  height: 90px;
}

.admin-tile-title {
  width: 100%;
  padding: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.admin-tile.services.iios {
  position: relative;
  background-color: peru;
  color: white;
}

.admin-tile-small {
  margin: 1px 4px;
  padding: 2px 4px;
  width: calc(100% - 8px);
  background-color: deepskyblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-tile:hover {
  /* navajowhite */
  background-color: rgba(255, 222, 173, 0.5)!important;
}

.admin-settings-content {
  padding: 8px 12px;
  height: calc(100% - 37px);
  overflow-y: auto;
}

.admin-section-title {
  width: 100%;
  text-align: right;
  color: slategrey;
  margin-bottom: 8px;
}

.admin-key {
  margin: 4px 0;
  padding: 2px 2px 2px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-key:hover {
  /* navajowhite */
  background-color: rgba(255, 222, 173, 0.5)!important;
}

.admin-icon:hover {
  color: dodgerblue!important;
}

.admin-panel-title {
  padding: 8px;
  font-weight: bold;
}

.admin-settings-color {
  width: 100%;
  height: 48px;
}

.admin-health-ind {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: lime;
}

.admin-chart {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .admin-panel {
    width: calc(100% - 8px);
  }
}
</style>
