<template>
  <div class="edit-user-layout">
    <v-card hover class="edit-user-card">
      <v-card-title>
        <div class="edit-user-card-summary">
          <v-avatar :size="64">
            <img :src="user.avatar ? user.avatar + '&token='
              + $utils.token() : 'assets/user.png'">
          </v-avatar>

          <div style="display; flex; flex-flow: column;">
            <div style="font-weight: bold;">{{ user.firstname + ' ' + user.lastname }}</div>
            <div style="color: silver">{{ user.username }}
              <v-icon style="color: dodgerblue" v-if="user.role === 'admin'">star</v-icon></div>
          </div>
        </div>
      </v-card-title>
    </v-card>

    <v-card hover class="edit-user-card">
      <v-card-title>
        <div class="ig-title">
          <v-btn flat icon v-if="expanded"
            @click.prevent.stop="toggleExpanded">
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn>

          <v-btn flat icon v-if="!expanded"
            @click.prevent.stop="toggleExpanded">
            <v-icon>keyboard_arrow_down</v-icon>
          </v-btn>

          <span>{{ $t('Profile settings') }}</span>
        </div>
      </v-card-title>

      <v-card-text class="edit-user-card-content user">
        <user ref="userSettings" hideNavigation :value="user" notCurrent></user>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import User from '../components/iio/User.vue'

export default {
  data: () => {
    return {
      expanded: false
    }
  },
  components: {
    'user': User
  },
  methods: {
    toggleExpanded() {
      this.expanded = !this.expanded

      for (let child of this.$refs.userSettings.$children) {
        if (child.$vnode.tag.match('jsonform')) {
          child.setExpanded(this.expanded)
        }
      }
    }
  },
  mounted() {
    // toolbar section name display
    this.$store.commit('section', this.$i18n.$t('User profile'))
  },
  computed: {
    user() {
      return this.$store.state.otherUser
    }
  }
}
</script>

<style scoped>
.edit-user-layout {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
}

.edit-user-card {
  margin: 4px;
  width: calc(100% - 8px);
}

.edit-user-card-summary {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.edit-user-card-summary > div {
  margin: 1em;
}

.edit-user-card-content.password {
  padding: 0!important;
  text-align: center;
}

.edit-user-card-content.user {
  padding: 0!important;
}

.form-password {
  width: 300px;
  margin: 4px 40px;
}

.password-validation {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  border-top: 1px solid lightgrey;
}

@media screen and (min-width: 800px) {
  .edit-user-card {
    min-width: 350px;
    margin: 4px 20%;
    width: 60%;
  }
}
</style>
