<template>
  <div class="profile-layout" v-if="user">
    <v-card class="profile-card">
      <v-card-text class="profile-card-summary">
        <v-avatar :size="64">
          <img :src="user.avatar ? user.avatar + '&token='
            + $utils.token() : 'assets/user.png'">
        </v-avatar>

        <div style="display; flex; flex-flow: column;">
          <div style="font-weight: bold;">{{ user.firstname + ' ' + user.lastname }}</div>
          <div style="color: silver">{{ user.username }}
            <v-icon style="color: dodgerblue" v-if="user.role === 'admin'">star</v-icon></div>
        </div>
      </v-card-text>
    </v-card>

    <div class="profile-content">
      <v-card hover class="profile-card">
        <v-card-title>
          <div class="ig-title">{{ $t('Password') }}</div>
        </v-card-title>

        <v-card-text class="profile-card-content password">
          <form class="form-password" novalidate @submit.stop.prevent="commitPasswordChanges">
            <v-text-field
              :append-icon="e1 ? 'visibility' : 'visibility_off'"
              @click:append="() => (e1 = !e1)"
              :type="e1 ? 'password' : 'text'"
              :label="$t('Password')" v-model="password"
              :hint="$t('At least 8 characters')"
              min="8"
              required>
            </v-text-field>

            <v-text-field :rules="[v => passwordMatch || $t('Passwords do not match')]"
              :append-icon="e1 ? 'visibility' : 'visibility_off'"
              @click:append="() => (e1 = !e1)"
              :type="e1 ? 'password' : 'text'"
              :label="$t('Password confirm')" v-model="passwordBis"
              required>
            </v-text-field>
          </form>

          <div class="password-validation">
            <v-btn flat icon color="error" @click="commitPasswordChanges()"
              :disabled="!readyForPasswordChangesCommit">
              <v-icon>check</v-icon>
            </v-btn>
          </div>
        </v-card-text>
      </v-card>

      <v-card hover class="profile-card">
        <v-card-title>
          <div class="ig-title">
            <v-btn flat icon v-if="expanded"
              @click.prevent.stop="toggleExpanded">
              <v-icon>keyboard_arrow_up</v-icon>
            </v-btn>

            <v-btn flat icon v-if="!expanded"
              @click.prevent.stop="toggleExpanded">
              <v-icon>keyboard_arrow_down</v-icon>
            </v-btn>

            <span>{{ $t('Profile settings') }}</span>
          </div>
        </v-card-title>

        <v-card-text class="profile-card-content user">
          <user ref="userSettings" hideNavigation :value="user"></user>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import User from '../components/iio/User.vue'

export default {
  data: () => {
    return {
      password: '',
      passwordBis: '',
      expanded: false,
      e1: true,
      e2: true
    }
  },
  components: {
    'user': User
  },
  methods: {
    toggleExpanded() {
      this.expanded = !this.expanded
      this.$refs.userSettings.setExpanded(this.expanded)
    },
    commitPasswordChanges() {
      this.$services.waitForService('auth').then(() => {
        this.$services.auth.chpwd({
          username: this.$store.state.user.username,
          newPassword: this.password
        }).then(() => {
          this.$services.$emit('app:notification',
            this.$i18n.$t('Password has been succesfully modified'))
          this.password = ''
          this.passwordBis = ''
        }).catch(err => {
          console.log(err)
          this.$services.$emit('app:notification',
            this.$i18n.$t('Failed to modifiy password'))
        })
      }).catch(err => {
        console.log('timeout when changing password', err)
      })
    }
  },
  mounted() {
    // toolbar section name display
    this.$store.commit('section', this.$i18n.$t('Profile settings'))
  },
  computed: {
    user() {
      return this.$store.state.user
    },
    passwordMatch() {
      return this.password === this.passwordBis
    },
    readyForPasswordChangesCommit() {
      return this.password === this.passwordBis && this.password.length >= 8
    }
  }
}
</script>

<style scoped>
.profile-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
}

.profile-content {
  width: 100%;
  height: calc(100% - 180px);
  overflow-y: auto;
}

.profile-card {
  margin: 4px;
  width: calc(100% - 8px);
}

.profile-card-summary {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.profile-card-summary > div {
  margin: 1em;
}

.profile-card-content.password {
  padding: 0!important;
  text-align: center;
}

.profile-card-content.user {
  padding: 0!important;
}

.form-password {
  width: 300px;
  margin: 4px 40px;
}

.password-validation {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  border-top: 1px solid lightgrey;
}

@media screen and (min-width: 800px) {
  .profile-card {
    min-width: 350px;
    margin: 4px 20%;
    width: 60%;
  }
}
</style>
