<template>
  <div class="services-layout">
    <div class="services-left">
      <v-list class="md-double-line">
        <v-list-tile v-if="service.options && service.ready"
          avatar @click="handleSelect(service)"
          v-for="service in $services.servicesDico" :key="service.name">
          <v-list-tile-avatar>
            <img :src="service.options.description.icon"/>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>
              {{ $t(service.options.description.title) }}</v-list-tile-title>

            <v-list-tile-sub-title>
              {{ $t(service.options.description.info) }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </div>

    <div class="services-right">
      <component :is="selected.name" class="service-component"
        v-if="selected && selected.options.uiComponentInjection"></component>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      selected: null
    }
  },
  components: {},
  methods: {
    onServiceUp(service) {
      // console.log(this.$i18n._translations)
      this.$forceUpdate()
    },
    onServiceDown(service) {
      if (this.selected && service === this.selected.name) {
        this.selected = null
      }
      this.$forceUpdate()
    },
    handleSelect(service) {
      this.selected = service
    }
  },
  computed: {},
  mounted() {
    // toolbar section name display
    this.$store.commit('section', this.$i18n.$t('Services'))

    // listeners
    this._listeners = {
      onServiceUp: this.onServiceUp.bind(this),
      onServiceDown: this.onServiceDown.bind(this)
    }
    this.$services.$on('service:up', this._listeners.onServiceUp)
    this.$services.$on('service:down', this._listeners.onServiceDown)
  },
  beforeDestroy() {
    this.$services.$off('service:up', this._listeners.onServiceUp)
    this.$services.$off('service:down', this._listeners.onServiceDown)
  }
}
</script>

<style scoped>
.services-layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.services-left {
  width: 25%;
  height: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.services-right {
  width: 75%;
  height: 100%;
}

.service-component {
  margin: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
</style>
