<template>
  <div class="users-layout">
    <users-list></users-list>
  </div>
</template>

<script scoped>
import UsersList from '../components/iio/UsersList.vue'

export default {
  data: () => {
    return {}
  },
  components: {
    'users-list': UsersList
  },
  methods: {

  },
  computed: {

  },
  mounted() {
    // toolbar section name display
    this.$store.commit('section', this.$i18n.$t('Users'))
  }
}
</script>

<style>
.users-layout {
  width: 100%;
  height: 100%;
}
</style>
