<template>
  <div :id="id" class="fd-layout">
    <!--UPLOAD-->
    <form enctype="multipart/form-data" novalidate>
      <div class="fd-dropzone"
        :class="{ 'fd-error': currentStatus === 3 }">
        <input type="file" :multiple="multiple" name="filedrop"
          :disabled="currentStatus === 1"
          @change="handleFilesSelection($event.target.name, $event.target.files); fileCount = $event.target.files.length"
          :accept="acceptedFiles" class="fd-input-file">
          <p v-if="currentStatus === 0">{{ $t('Drop files here to upload') }}</p>
          <p v-if="currentStatus === 1">
            Uploading {{ fileCount }} files...
          </p>
          <p v-if="currentStatus === 3">
            {{ $t('Error when loading files') }}
          </p>
          <div v-if="uploaded" v-for="f in uploaded" style="display: flex;">
            <div style="margin-right: 8px;">{{ f.name }}</div>
            <v-progress-linear v-model="f.progress" style="width: 100%"></v-progress-linear>
          </div>
      </div>
    </form>
  </div>
</template>

<script>
import * as axios from 'axios'

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3

export default {
  props: {
    value: String,
    acceptedFiles: {
      type: String,
      default: '*/*'
    },
    maxSize: {
      type: Number,
      default: 1024
    },
    multiple: Boolean
  },
  data: () => {
    return {
      id: 'fd_' + Math.random().toString(36).slice(2, 10),
      fileCount: null,
      currentStatus: STATUS_INITIAL,
      uploaded: null,
      progress: {}
    }
  },
  watch: {
  },
  components: {

  },
  methods: {
    upload(formData) {
      return axios.post(this.url, formData, {
        onUploadProgress: function (progressEvent) {
          console.log(progressEvent.target)
        }
      })
        // get data
        .then(x => x.data)
        // add url field
        .then(x => {
          this.uploaded = x.map(f =>
            Object.assign({}, f, { url: this.url + '/' + f.id }))
        })
    },
    save(formData) {
      this.progress = {}
      this.currentStatus = STATUS_SAVING

      this.upload(formData)
        .then(x => {
          this.uploadedFiles = [].concat(x)
          this.currentStatus = STATUS_SUCCESS
        })
        .catch(err => {
          this.uploadError = err.response
          this.currentStatus = STATUS_FAILED
          console.log(err)
        })
    },
    handleFilesSelection(fieldName, fileList) {
      // handle file changes
      const formData = new FormData()

      if (!fileList.length) return

      // append the files to FormData
      Array
        .from(Array(fileList.length).keys())
        .map(x => {
          formData.append(fieldName, fileList[x], fileList[x].name)
        })

      // save it
      this.save(formData)
    }
  },
  computed: {

  },
  mounted() {
    this.$services.waitForProperty(this.$ws.socket, '_logged').then(() => {
      this.$modules.waitForService('app').then(appServiceModule => {
        appServiceModule.restAPIKeys().then(result => {
          this.url = '/api/dropfiles?api_key=' + result.keys[0]
          this.fileUploaderOptions = {
            url: '/api/dropfiles?api_key=' + result.keys[0],
            uploadMultiple: this.multiple,
            clickable: true,
            thumbnailWidth: 150,
            maxFilesize: this.maxSize,
            acceptedFiles: this.acceptedFiles,
            dictDefaultMessage: this.$i18n.$t('Drop files here to upload'),
            dictFileTooBig: this.$i18n.$t('File too big')
          }

        }).catch(err => console.log(err))
      }).catch(err => console.log(err))
    }).catch(err => console.log(err))
  },
  beforeDestroy() {

  }
}
</script>

<style scoped>
.fd-layout {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.fd-dropzone {
  margin: 8px;
  width: calc(100% - 16px);
  min-height: 200px; /* minimum height */
  border: 1px solid gainsboro;
  outline: 1px dashed grey; /* the dash box */
  outline-offset: -4px;
  color: dimgray;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}

.fd-input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.fd-dropzone:hover {
  background: lightcyan; /* when mouse over to the drop zone, change color */
}

.fd-dropzone p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}

.fd-error {
  border: 1px solid tomato;
}
</style>
