<template>
  <div class="formitem-layout"
    v-if="!!resolvedSchema && !resolvedSchema.final &&
      !(initMode && resolvedSchema.meta && resolvedSchema.meta.hideIfInit)">

    <v-card class="formitem-card" hover>
      <v-card-title v-if="resolvedSchema.type === 'object'
        || resolvedSchema.type === 'array'
        || (resolvedSchema.meta && resolvedSchema.meta.file)
        || (resolvedSchema.format && resolvedSchema.format.match('date'))">
        <div class="ig-subhead formitem-section-header-container">
          <v-btn flat icon v-if="expanded && (schema
            && schema.meta ? !schema.meta.readonly : true)"
            @click.prevent.stop="toggleExpanded">
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn>

          <v-btn flat icon v-if="!expanded && (schema
            && schema.meta ? !schema.meta.readonly : true)"
            @click.prevent.stop="toggleExpanded">
            <v-icon>keyboard_arrow_down</v-icon>
          </v-btn>

          {{ $t(resolvedSchema.description) }}

          <span :id="'liveUpdate_' + idealizedPath"
            class="formitem-section-header"
            v-if="(resolvedSchema.type === 'string'
              && !(resolvedSchema.meta && resolvedSchema.meta.file))
              || resolvedSchema.type === 'number'
              || resolvedSchema.type === 'integer' || resolvedSchema.type === 'boolean'">
            {{ resolvedSchema.format && resolvedSchema.format.match('date') ? $utils.prettyDate(itemData) : $t('' + displayedData) }}
          </span>

          <span class="formitem-section-header" :id="'liveUpdate_' + idealizedPath"
            v-if="resolvedSchema.type === 'string' && resolvedSchema.meta
              && resolvedSchema.meta.file">
            {{ resolvedSchema.format && resolvedSchema.format.match('date') ? $utils.prettyDate(itemData) : displayedData }}
          </span>

          <span v-if="resolvedSchema.meta && resolvedSchema.meta.file && data && data !== ''">
            <a :href="data + '&token=' + token" download>
              <v-icon>file_download</v-icon></a>
          </span>
        </div>
      </v-card-title>

      <v-card-text class="formitem-prop" style="width: 100%"
        v-show="expanded || !(resolvedSchema.type === 'object'
          || resolvedSchema.type === 'array' || (resolvedSchema.meta && resolvedSchema.meta.file)
          || (resolvedSchema.format && resolvedSchema.format.match('date')))">

        <!-- Number item case -->
        <v-text-field :label="$t(resolvedSchema.description)"
          v-model="itemData" type="number"
          class="formitem-prop-input"
          v-if="(resolvedSchema.type === 'number' || resolvedSchema.type === 'integer')
            && (!resolvedSchema.meta || !resolvedSchema.meta.file)
            && !(resolvedSchema.meta && resolvedSchema.meta.readonly)">
        </v-text-field>

        <!-- Boolean item case -->
        <v-checkbox v-if="resolvedSchema.type === 'boolean'"
          :label="$t(resolvedSchema.description)" v-model="itemData"></v-checkbox>

        <!-- String item case -->
        <v-text-field class="formitem-prop-input"
          :label="$t(resolvedSchema.description)"
          v-model="itemData" :pattern="resolvedSchema.pattern"
          :readonly="!!resolvedSchema.meta && !!resolvedSchema.meta.provider"
          v-if="resolvedSchema.type === 'string'
            && !resolvedSchema.format && !resolvedSchema.enum
            && !(resolvedSchema.meta && resolvedSchema.meta.palette)
            && (!resolvedSchema.meta || !resolvedSchema.meta.file)
            && !(resolvedSchema.meta && resolvedSchema.meta.textarea)
            && !(resolvedSchema.meta && resolvedSchema.meta.readonly)
            && !(resolvedSchema.meta && resolvedSchema.meta.edit)">
        </v-text-field>

        <!-- String or number item readonly -->
        <div class="formitem-prop-input"
          v-if="!resolvedSchema.format && !resolvedSchema.enum
            && resolvedSchema.meta && resolvedSchema.meta.readonly">
            {{ $t(resolvedSchema.description) }}
            <span style="color: dodgerblue;">{{ itemData }}</span>
        </div>

        <!-- String item case with display transform -->
        <div class="formitem-prop-display"
          v-if="resolvedSchema.type === 'string'
            && !resolvedSchema.format && !resolvedSchema.enum
            && resolvedSchema.meta && resolvedSchema.meta.display">
            {{ displayedData }}
        </div>

        <!-- Specific provider case for strings -->
        <div v-if="resolvedSchema.type === 'string' && resolvedSchema.meta && resolvedSchema.meta.provider">
          <v-btn color="primary"
            @click="selectItem(data, resolvedSchema)">
            Sélectionner
          </v-btn>
          <v-btn color="primary"
            @click="resetItem(data, resolvedSchema)">
            Réinitialisation
          </v-btn>
        </div>

        <!-- Specific provider case for locations -->
        <geodata v-if="expanded && resolvedSchema.type === 'array' && resolvedSchema.meta && resolvedSchema.meta.provider"
          class="formitem-geoloc" :center="$store.state.geoCenter"
          :location="itemData.length === 2 ? itemData : null" @location="handleLocation"></geodata>

        <!-- Textarea item case -->
        <v-text-field class="formitem-prop-input"
          :label="$t(resolvedSchema.description)"
          multi-line v-model="itemData" :rows="4"
          v-if="resolvedSchema.type === 'string'
            && resolvedSchema.type.meta && resolvedSchema.type.meta.textarea">
        </v-text-field>

        <!-- Enum selection case -->
        <v-select class="formitem-prop-input input-group--focused"
          :label="$t(resolvedSchema.description)"
          v-if="!!resolvedSchema.enum"
          :disabled="!!resolvedSchema.meta && !!resolvedSchema.meta.twofactors"
          :items="translatedEnum"
          v-model="itemData">
        </v-select>

        <!-- TWO FACTOR selection confim case -->
        <div v-if="!!resolvedSchema.enum && resolvedSchema.meta && resolvedSchema.meta.twofactors"
          class="formitem-twofactors-action">
          <v-btn color="error" flat
            @click="handleTwoFactors">
            {{ $t('Modify') }}
          </v-btn>
        </div>

        <!-- color item -->
        <colorpicker
          v-if="resolvedSchema.meta && resolvedSchema.meta.palette"
          class="formitem-prop-input" :palette="resolvedSchema.meta.palette"
          v-model="itemData"></colorpicker>

        <!-- Date format case -->
        <v-date-picker v-if="resolvedSchema.format && resolvedSchema.format.match('date')
          && !(resolvedSchema.meta && resolvedSchema.meta.readonly)"
          :value="dateData" @input="handleDateUpdate" landscape reactive :locale="lang">
        </v-date-picker>

        <!-- Date item readonly -->
        <div class="formitem-prop-input"
          v-if="resolvedSchema.format && resolvedSchema.format.match('date')
            && resolvedSchema.meta && resolvedSchema.meta.readonly">
            {{ $t(resolvedSchema.description) }}
            <span style="color: dodgerblue;">{{ prettyDate(itemData) }} - {{ fromNow(itemData) }}</span>
        </div>

        <!-- File item case -->
        <file-uploader id="dropzone" style="width: 100%"
          v-if="resolvedSchema.meta && resolvedSchema.meta.file && fileUploaderOptions"
          ref="fileUploader" :options="fileUploaderOptions"
          @vdropzone-files-added="handleFilesSelection">
        </file-uploader>

        <div class="formitem-prop-file-uploading"
          v-if="resolvedSchema.meta && resolvedSchema.meta.file"
          v-for="f in filesToUpload"
          :key="f.name">
          <span>{{ f.name }}</span>
          <v-progress-linear v-model="f.progress" style="width: 100%"></v-progress-linear>
        </div>

        <!-- Error message for files -->
        <span class="ig-error"
          v-if="resolvedSchema.meta && resolvedSchema.meta.file" v-show="!fileAccepted">
          {{ $t('`File must be less than ${ params[0] } kb`',
            parseInt(this.resolvedSchema.meta.maxSize/1024)) }}</span>

        <!-- Display avatar case -->
        <div class="formitem-image"
          v-if="resolvedSchema.meta && resolvedSchema.meta.showAvatar && this.fileContent">
          <img v-if="!fileContent.match('.svg')"
            :src="fileContent + '&token=' + token" class="ig-avatar-tile"/>
          <object v-if="!!fileContent.match('.svg')" class="ig-avatar-tile"
            type="image/svg+xml" :data="fileContent ? fileContent
            + '&token=' + $utils.token() : 'assets/icons/view.svg'"></object>
        </div>

        <!-- Complex object editor -->
        <component ref="editor" class="ig-h400"
          v-if="resolvedSchema.meta && resolvedSchema.meta.edit"
          v-model="itemData" :readonly="true"
          :is="resolvedSchema.meta.edit.component"></component>

        <!-- Import complex object case -->
        <div class="formitem-prop-import"
          v-if="resolvedSchema.meta && resolvedSchema.meta.import">

          <file-uploader id="dropzone" style="width: 100%"
            v-if="resolvedSchema.meta && resolvedSchema.meta.file && fileUploaderOptions"
            ref="fileUploader" :options="fileUploaderOptions"
            @vdropzone-files-added="handleImportSelection">
          </file-uploader>

          <v-btn color="primary" style="height: 1em"
            v-if="!!resolvedSchema.meta && !!resolvedSchema.meta.edit"
            @click="handleEdit(itemData,
              resolvedSchema.meta.edit.component, resolvedSchema.meta.edit.prompt)">
            {{ $t('Edit') }}
          </v-btn>
        </div>

        <!-- Next level when object -->
        <jsonform-item v-if="resolvedSchema.type === 'object' && properties && !additionalProperties"
          v-for="prop in properties" :key="JSON.stringify(prop)"
          :schema="resolvedSchema.properties[prop]" @update="handleUpdate"
          :data="itemData[prop]" :path="path + '.' + prop"
          :rootSchema="resolvedSchema"></jsonform-item>

        <div v-if="resolvedSchema.type === 'object' && resolvedSchema.meta &&
          resolvedSchema.meta.forceDisplayToString">
          {{ JSON.stringify(itemData, null, 2) }}
        </div>

        <!-- Next level when object of type any -->
        <jsonform-item v-if="resolvedSchema.type === 'object' && additionalProperties"
          v-for="prop in itemDataKeys" :key="JSON.stringify(prop)"
          :schema="additionalProperties" @update="handleUpdate"
          :data="itemData[prop]" :path="path + '.' + prop"
          :rootSchema="resolvedSchema"></jsonform-item>

        <!-- Next level when array -->
        <div v-if="resolvedSchema.type === 'array' && !(resolvedSchema.meta && resolvedSchema.meta.provider)"
          class="formitem-prop-array">

          <jsonform-item
            v-if="resolvedSchema && Array.isArray(resolvedSchema.items)"
            v-for="(item, index) in resolvedSchema.items" :key="index"
            :schema="resolvedSchema.items[index]" @update="handleUpdate"
            :data="data[index]" :parent="data"
            :path="path + '[' + index + ']'"
            :rootSchema="resolvedSchema"></jsonform-item>

          <jsonform-item v-if="resolvedSchema && !Array.isArray(resolvedSchema.items)"
            v-for="(item, index) in data" :key="index"
            :schema="resolvedSchema.items" @update="handleUpdate"
            :data="item" :parent="data"
            :path="path + '[' + index + ']'"
            removable="true"
            :rootSchema="resolvedSchema"></jsonform-item>

          <v-btn class="ig-bottom-right-4"
            v-if="resolvedSchema.items && resolvedSchema.additionalItems !== false"
            small fab dark absolute color="blue lighten-2"
            style="z-index: 10"
            @click="addItem(resolvedSchema.items)">
            <v-icon>add</v-icon>
          </v-btn>
        </div>

        <!-- removable item case when parent is array -->
        <v-btn class="ig-bottom-right-4" v-if="removable" @click="removeItem"
          small fab dark absolute color="red lighten-2">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-card-text>
    </v-card>

    <!-- List item selection -->
    <v-dialog v-model="selectionDialog" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click.native="selectionDialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title v-if="selector">{{ $t(selector.prompt) }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text class="formitem-selection-dialog">
          <component v-if="selector !== null" selectionMode="true"
            :is="selector.provider"></component>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Two factor selection -->
    <component
      v-if="twofactors !== null" :data="itemData" :meta="twofactors"
      @update="handleUpdate"
      :is="twofactors.meta.twofactors.provider"></component>

    <!-- Complex element edition -->
    <v-dialog v-model="editDialog">
      <v-card>
        <v-card-title>
          <div v-if="editor !== null">
            {{ editor.prompt }}
          </div>
        </v-card-title>
        <v-card-text>
          <component v-if="editor !== null" :data="editor.data" @editorUpdate="handleEditorUpdate"
            :is="editor.component"></component>
        </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="handleEditorClose">
              Fermer</v-btn>
          </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ss from 'socket.io-stream'
import dayjs from 'dayjs'
import 'dayjs/locale/fr'

export default {
  props: [ 'schema', 'data', 'parent', 'removable', 'path', 'initMode', 'rootSchema' ],
  data: () => {
    return {
      editor: null,
      selector: null,
      twofactors: null,
      fileContent: null,
      fileAccepted: true,
      filesToUpload: null,
      displayedData: null,
      expanded: false,
      selectionDialog: false,
      editDialog: false,
      _uid: null,
      additionalProperties: null,
      fileUploaderOptions: null
    }
  },
  components: {

  },
  methods: {
    toggleExpanded() {
      this.expanded = !this.expanded
    },
    findChildForms(el) {
      let result = []

      for (let child of el.$children) {
        if (child.$vnode.tag.match('json-form')) {
          result.push(child)
        }
        result = result.concat(this.findChildForms(child))
      }

      return result
    },
    setExpanded(val) {
      let readonly =
        (this.schema && this.schema.meta) ? this.schema.meta.readonly : false

      if (!readonly) {
        this.expanded = val

        let forms = this.findChildForms(this)

        for (let child of forms) {
          child.setExpanded(val)
        }
      }
    },
    handleEditorUpdate(val) {
      // console.log(this.path, JSON.stringify(val, null, 2))
      this.itemData = val
      // this.$emit('update', this.path, val)
      this.$refs.editor.$forceUpdate()
    },
    handleEditorClose() {
      // console.log(this.path, JSON.stringify(this.itemData, null, 2))
      let val = JSON.stringify(this.itemData, null, 2)
      this.itemData = null
      setTimeout(() => {
        this.itemData = JSON.parse(val)
      }, 100)
      this.editDialog = false
    },
    handleEdit(d, component, prompt) {
      this.editor = {
        prompt: prompt,
        data: d || this.fileContent,
        component: component
      }

      this.editDialog = true
    },
    handleImportSelection(files) {
      let maxFileSize = this.resolvedSchema.meta && this.resolvedSchema.meta.maxSize
        ? this.resolvedSchema.meta.maxSize : 50000 // default: 50ko

      if (files[0].size <= maxFileSize) {
        var reader = new FileReader()
        reader.onload = e => {
          this.fileContent = e.target.result
          this.itemData = JSON.parse(e.target.result)

          // propagation BUG
          for (let child of this.$children[0].$children[1].$children) {
            if (child.$el.id === 'editor') {
              child.data = JSON.parse(e.target.result)
            }
          }
        }

        reader.readAsText(files[0])

        this.fileAccepted = true
      } else {
        this.fileAccepted = false
      }
    },
    handleFilesSelection(files) {
      // console.log(JSON.stringify(this.resolvedSchema))
      let maxFileSize = this.resolvedSchema.meta && this.resolvedSchema.meta.maxSize
        ? this.resolvedSchema.meta.maxSize : 50000 // default: 50ko

      this.filesToUpload = []
      let done = []

      let handler = result => {
        if (result.err) {
          console.log('error', result)
          this.fileContent = this.itemData = ''
        } else {
          done.push(result)

          if (done.length === this.filesToUpload.length) {
            this.$ws.socket.off('ws:file:upload:result', handler)
            // this.$services.$emit('service:si3:event:upload:done', done)

            this.fileContent = this.itemData =
              this.$store.state.rest.context +
              '/uploads/' + this.$store.state.user._id + '/' + done[0].name +
              '?api_key=' + this.$store.state.rest.apiKeys[0]

            console.log('all done every where', this.fileContent)
          } else {
            console.log('lenght issue', done.length, this.filesToUpload.length)
          }
        }
      }

      this.$ws.socket.on('ws:file:upload:result', handler)

      for (let file of files) {
        // console.log(file.size, maxFileSize)
        if (file.size > maxFileSize) {
          this.fileAccepted = false
          return
        }

        this.fileAccepted = true

        file.progress = 0

        this.filesToUpload.push(file)

        let stream = ss.createStream()

        // upload a file to the server.
        ss(this.$ws.socket).emit('ws:file:upload', stream, {
          name: file.name,
          size: file.size,
          bucket: this.$utils.bucket.name,
          userId: this.$store.state.user._id
        })

        let blobStream = ss.createBlobReadStream(file)

        let size = 0

        blobStream.on('data', chunk => {
          size += chunk.length
          file.progress = parseInt(size / file.size * 100)
          this.$forceUpdate()

          let loaded = []
          for (let f of this.filesToUpload) {
            if (f.progress === 100) {
              loaded.push(f)
            }
          }
          this.$emit('input', loaded)
        })

        blobStream.pipe(stream)
      }
    },
    handleTwoFactors() {
      this.twofactors = this.resolvedSchema
      this.twofactors.path = this.path
      setTimeout(() => {
        this.$refs.twoFactorsDialog.open()
      }, 300)
    },
    async addItem(schema) {
      // console.log(this.path, JSON.stringify(this.resolvedSchema.items.type), this.itemData)
      switch (this.resolvedSchema.items.type) {
        case 'string':
          // console.log(JSON.stringify(schema))
          if (schema.meta) {
            if (schema.meta.provider) {
              this.selector = schema.meta
              this.selectionDialog = true

              let handler = item => {
                // console.log(item)
                this.$services.$off(schema.meta.event, handler)

                this.itemData.push(item[schema.meta.field])
                if (this.selectionDialog) {
                  this.selectionDialog = false
                }

                // handle update // BUG ?
                this.$emit('update', this.path, this.itemData)
              }

              this.$services.$on(schema.meta.event, handler)
            } else {
              this.itemData.push('')
            }
          } else {
            this.itemData.push('')
          }
          break
        case 'object':
          this.$modules.waitForService('app').then(app => {
            app.generateDataFormJSONSchema({ schema: this.resolvedSchema.items })
              .then(result => {
                result.data._child = true
                this.itemData.push(result.data)

                // handle update // BUG ?
                this.$emit('update', this.path, this.itemData)
              }).catch(err => { console.error(err) })
          }).catch(err => { console.error(err) })
          break
        case 'array':
          this.$modules.waitForService('app').then(async app => {
            if (Array.isArray(this.resolvedSchema.items)) {
              for (let el of this.resolvedSchema.items) {
                let elToInsert =
                  await app.generateDataFormJSONSchema({ schema: el })
                this.itemData.push(elToInsert.data)
              }

              this.itemData = _.cloneDeep(this.itemData)

              // handle update // BUG ?
              this.$emit('update', this.path, this.itemData)
            } else {
              app.generateDataFormJSONSchema({ schema: this.resolvedSchema.items })
                .then(result => {
                  // console.log('generated', JSON.stringify(this.itemData, null, 2))
                  result.data._child = true
                  this.itemData.push(result.data)
                  this.itemData = _.cloneDeep(this.itemData)

                  // handle update // BUG ?
                  this.$emit('update', this.path, this.itemData)

                  // console.log('array update', this.path, JSON.stringify(this.itemData))
                }).catch(err => { console.error(err) })
            }
          }).catch(err => { console.error(err) })
          break
      }
    },
    removeItem() {
      // let idx = this.parent.indexOf(this.data)
      // console.log('removal', this.path, idx)
      this.$emit('update', this.path, '', true)
      // this.parent.splice(idx, 1)
    },
    handleLocation(val) {
      this.$emit('update', this.path, val)
    },
    selectItem(data, schema) {
      switch (this.resolvedSchema.type) {
        case 'string':
          // console.log(JSON.stringify(schema))
          if (schema.meta) {
            if (schema.meta.provider) {
              this.selector = schema.meta
              this.selectionDialog = true

              let handler = item => {
                this.$emit('update', this.path, item[schema.meta.field])

                this.$services.$off(schema.meta.event, handler)
                if (this.selectionDialog) {
                  this.selectionDialog = false
                }
                // redisplay pretty
                setTimeout(this.dbTransform, 800)
              }

              this.$services.$on(schema.meta.event, handler)
            }
          }
          break
      }
    },
    resetItem(data, schema) {
      switch (this.resolvedSchema.type) {
        case 'string':
          this.$emit('update', this.path, schema.default || '')
          break
        case 'number':
          this.$emit('update', this.path, schema.default || 0)
          break
      }
    },
    handleUpdate(path, val, removal) {
      path = path.replace('._child', '')
      // console.log('json form', path, val)
      this.$emit('update', path, val, removal)
      setTimeout(() => {
        this.$forceUpdate()
      }, 500)
    },
    handleDateUpdate(val) {
      this.itemData = (new Date(val)).toISOString()
    },
    dbTransform() {
      if (this.resolvedSchema && this.resolvedSchema.meta && this.resolvedSchema.meta.display) {
        this.$services.waitForProperty(this.$ws.socket, '_logged').then(() => {
          this.$modules.waitForService('data').then(data => {
            if (this.data && this.data !== '') {
              try {
                data[this.resolvedSchema.meta.display.collection]
                  .nameById({ _id: this.data })
                  .then(doc => {
                    if (doc) {
                      this.displayedData = doc.name
                      this.$forceUpdate()
                    }
                  }).catch(err => { console.log(err) })
              } catch (err) {
                console.log(this.resolvedSchema.meta.display.collection, err)
              }
            }
          }).catch(err => { console.log(err) })
        }).catch(err => { console.log(err) })
      } else {
        this.displayedData = this.itemData
      }
    },
    prettyDate(date) {
      return dayjs(date).format('Do MMMM YYYY')
    },
    fromNow(date) {
      return dayjs(date).fromNow()
    }
  },
  computed: {
    translatedEnum() {
      if (this.resolvedSchema.meta && this.resolvedSchema.meta.translate) {
        let result = []
        for (let v of this.resolvedSchema.enum) {
          result.push({
            text: this.$i18n.$t(v),
            value: v
          })
        }

        return result
      } else {
        return this.resolvedSchema.enum
      }
    },
    dateData() {
      if (this.itemData) {
        if (typeof this.itemData === 'string') return this.itemData.slice(0, 10)
        else return this.itemData.toISOString().slice(0, 10)
      }
      return (new Date()).toISOString().slice(0, 10)
    },
    idealizedPath() {
      return this.path.replace(/\[/g, '_').replace(/\]/g, '_').replace(/\./g, '_')
    },
    token() {
      return localStorage.token
    },
    itemDataKeys() {
      return this.itemData ? Object.keys(this.itemData) : []
    },
    properties() {
      if (this.resolvedSchema && this.resolvedSchema.properties) {
        return Object.keys(this.resolvedSchema.properties)
      } else {
        return null
      }
    },
    itemData: {
      get: function() {
        return this.data
      },
      set: function(val) {
        this.$emit('update', this.path, val)
        let id = '#liveUpdate_' + this.idealizedPath
        this.$d3.select(id).html(val)
      }
    },
    resolvedSchema() {
      if (this.schema && this.schema.anyOf) {
        return this.schema.anyOf[0]
      }

      return this.schema
    },
    lang() {
      return this.$i18n._language
    }
  },
  beforeMount() {
    // console.log(JSON.stringify(this.resolvedSchema), JSON.stringify(this.data))
  },
  mounted() {
    this._uid = Math.random().toString(36).slice(2)
    this.dbTransform()

    if (this.data && (this.resolvedSchema.type === 'object' || this.resolvedSchema.type === 'array')) {
      this.setExpanded(true)
    }

    if (this.resolvedSchema && this.resolvedSchema.meta && this.resolvedSchema.meta.autofill) {
      if (this.resolvedSchema.format && this.resolvedSchema.format.match('date')) {
        if (!this.itemData || this.itemData === '') {
          this.itemData = new Date()
        }
        console.log('after autofill= ', JSON.stringify(this.itemData, null, 2))
      }

      if (typeof this.resolvedSchema.meta.autofill === 'object') {
        if (!this.itemData || this.itemData === '') {
          this.itemData = eval(this.resolvedSchema.meta.autofill.content)
        }
        console.log('after autofill= ', JSON.stringify(this.itemData, null, 2))
      }
    }

    if (this.resolvedSchema && this.resolvedSchema.additionalProperties) {
      if (this.resolvedSchema.additionalProperties.$ref && this.resolvedSchema.additionalProperties.$ref === '#') {
        this.additionalProperties = this.rootSchema
      }
    }

    if (this.resolvedSchema.meta) {
      this.$modules.waitForService('app').then(appServiceModule => {
        appServiceModule.restAPIKeys().then(result => {
          this.fileUploaderOptions = {
            url: '/api/upload?api_key=' + result.keys[0],
            uploadMultiple: false,
            clickable: true,
            thumbnailWidth: 150,
            maxFilesize: parseInt(this.resolvedSchema.meta.maxSize / 1024),
            acceptedFiles:
              this.resolvedSchema.meta && this.resolvedSchema.meta.file
                ? this.resolvedSchema.meta.file :
                (this.resolvedSchema.meta && this.resolvedSchema.meta.import && this.resolvedSchema.meta.import.file
                  ? this.resolvedSchema.meta.import.file : null),
            dictDefaultMessage: this.$i18n.$t('Drop files here to upload'),
            dictFileTooBig: this.$i18n.$t('File too big')
          }
        }).catch(err => console.log(err))
      }).catch(err => console.log(err))
    }
  },
  beforeDestroy() {
    // save
  }
}
</script>

<style>
.formitem-layout {
  width: 100%;
}

.formitem-card {
  width: calc(100% - 16px);
  margin: 8px!important;
}

.formitem-prop {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.formitem-card:hover {
  background-color: rgba(255, 222, 173, 0.5)!important;
}

.formitem-prop-array {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 48px;
}

.formitem-prop-input {
  width: 100%;
  max-width: 360px;
}

.formitem-prop-display {
  margin: 8px 0;
}

.formitem-prop-import {
  display: flex;
  align-items: center;
}

.formitem-prop-file-uploading {
  width: 100%;
  margin: 2px;
  padding: 2px 8px;
  border: 1px solid #eee;
}

.formitem-image {
  width: calc(100% - 16px);
  margin: 8px;
  text-align: center;
}

.formitem-section-header-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.formitem-section-header {
  display: block;
  margin-left: 8px;
  max-width: 300px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: dodgerblue;
}

.formitem-geoloc {
  width: 100%;
  height: 400px!important;
}

.formitem-selection-dialog {
  height: calc(100vh - 64px)!important;
}

@media screen and (max-width: 800px) {
  .formitem-section-header {
    display: none;
  }

  .formitem-prop {
    padding: 2px!important;
  }
}
</style>
