<template>
  <div class="form-layout" :class="{ 'no-navigation': hideNavigation }">
    <jsonform-item v-if="!properties && schema && schema.type && !schema.final"
      :schema="schema" :data="data" :path="path" v-on:update="handleUpdate"></jsonform-item>

    <jsonform-item v-for="prop in properties" :key="prop" :id="'item_' + prop"
      v-if="properties && !schema.properties[prop].final && showField(prop) && data[prop] !== undefined"
      :schema="schema.properties[prop]" :data="data[prop]" :path="prop"
      :initMode="initMode" v-on:update="handleUpdate"
      :rootSchema="schema"></jsonform-item>

    <div class="form-navigation" :style="'top: ' + navigationVOffset + 'px'"
      v-if="!hideNavigation">
      <div class="form-navigation-item" @click="navigateTo(prop)"
        :class="{ 'init-highlight': schema.properties[prop].meta &&
          schema.properties[prop].meta.markIfInit && initMode}"
        v-for="prop in properties" :key="JSON.stringify(prop)"
        v-if="properties && !schema.properties[prop].final
          && !(schema.properties[prop].meta && schema.properties[prop].meta.hideIfInit && initMode)
          && showField(prop)
          && data[prop] !== undefined">
          {{ $t(schema.properties[prop].description) }}
      </div>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3'
import JSONFormItem from './JSONFormItem.vue'

export default {
  props: {
    schema: Object,
    data: Object,
    initMode: Boolean,
    hideNavigation: Boolean,
    fieldsToShow: Array,
    fieldsToHide: Array,
    navigationVOffset: {
      type: Number,
      default: 4
    }
  },
  data: () => {
    return {
      selector: null
    }
  },
  components: {
    'jsonform-item': JSONFormItem
  },
  methods: {
    showField(field) {
      if (this.fieldsToShow && this.fieldsToShow !== '') {
        let fieldsToShow = this.fieldsToShow.split(',')

        if (fieldsToShow.indexOf(field) >= 0) {
          return true
        } else {
          return false
        }
      }

      if (this.fieldsToHide) {
        if (this.fieldsToHide.indexOf(field) >= 0) {
          return false
        } else {
          return true
        }
      }

      return true
    },
    findById(root, id) {
      let result = null
      for (let el of root.$children) {
        try {
          if (d3.select(el.$el).attr('id') === id) {
            result = el
            break
          } else if (el.$children.length > 0) {
            result = result || this.findById(el, id)
          }
        } catch (err) { return null }
      }

      return result
    },
    navigateTo(p) {
      d3.select('#item_' + p)._groups[0][0].scrollIntoView()
      d3.select('#item_' + p).select('.v-card').style('background-color', 'rgba(255, 222, 173, 0.3)')

      setTimeout(() => {
        d3.select('#item_' + p).select('.v-card').style('background-color', '')
      }, 2000)

      let el = this.findById(this, 'item_' + p)
      if (el) {
        el.setExpanded(true)
      }
    },
    setExpanded(val) {
      this.expanded = val

      for (let child of this.$children) {
        if (child.$vnode.tag.match('jsonform')) {
          child.setExpanded(val)
        }
      }
    },
    handleUpdate(path, val, removal) {
      this.$emit('update', path, val, removal)
    }
  },
  computed: {
    properties() {
      if (this.schema && this.schema.properties) {
        return Object.keys(this.schema.properties)
      } else {
        return null
      }
    }
  },
  beforeMount() {
    // console.log(JSON.stringify(this.schema), JSON.stringify(this.data))
  },
  mounted() {

  },
  beforeDestroy() {
    // save
  }
}
</script>

<style>
.form-layout {
  width: 100%;
  height: calc(100% - 0px);
  overflow-y: auto;
}

.form-navigation {
  display: none;
}

.form-navigation-item {
  font-size: 0.7em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 4px 8px;
}

.form-navigation-item:hover {
  background-color: rgba(255, 222, 173, 0.3);
}

.init-highlight {
  border-bottom: 2px solid tomato;
}

@media screen and (min-width: 800px) {
  .form-layout {
    width: 60%;
    margin: 0 20%;
  }

  .form-layout.no-navigation {
    width: 100%;
    margin: 0;
  }

  .form-navigation {
    position: absolute;
    left: 10px;
    width: 16%;
    display: block;
    background-color: rgba(255, 222, 173, 0.0);
  }
}
</style>
