<template>
  <div id="schematree" class="schematree-layout" v-if="value">
    <schematree-item
      v-if="!properties"
      v-model="value"></schematree-item>

    <schematree-item
      v-if="properties && showField(prop)"
      v-for="prop in properties" :key="prop"
      v-model="value.properties[prop]"
      @delete="handleDeleteChild"></schematree-item>

    <v-btn fab dark fixed bottom left color="pink"
      @click="addProperty">
      <v-icon>add</v-icon>
    </v-btn>

  </div>
</template>

<script>
import * as d3 from 'd3'
import SchemaTreeItem from './SchemaTreeItem.vue'

export default {
  props: [ 'value', 'fieldsToHide' ],
  data: () => {
    return {}
  },
  watch: {
    'value': {
      handler(val) {
        this.$emit('input', val)
      },
      deep: true
    }
  },
  components: {
    'schematree-item': SchemaTreeItem
  },
  methods: {
    setExpanded(val) {
      this.expanded = val

      for (let child of this.$children) {
        if (child.$vnode.tag.match('schema-tree')) {
          child.setExpanded(val)
        }
      }
    },
    handleDeleteChild(val) {
      if (this.value.type === 'object') {
        for (let prop in this.value.properties) {
          if (this.value.properties[prop] === val) {
            delete this.value.properties[prop]
            break
          }
        }
      } else if (this.value.type === 'array' &&
        this.value.items.length !== undefined) {
        for (let i = 0; i < this.value.items.length; i++) {
          if (this.value.items[i] === val) {
            this.value.items.splice(i, 1)
            break
          }
        }
      }

      this.$forceUpdate()
    },
    showField(prop) {
      if (this.fieldsToHide && this.fieldsToHide !== '') {
        let fieldsToHide = this.fieldsToHide.split(',')

        if (fieldsToHide.indexOf(prop) >= 0) {
          return false
        } else {
          return true
        }
      }

      return true
    },
    addProperty() {
      let tempUniqueName = Math.random().toString(36).slice(2)
      this.value.properties = this.value.properties || {}

      this.value.properties[tempUniqueName] = {
        type: 'string',
        description: '...'
      }

      this.value.properties = JSON.parse(JSON.stringify(this.value.properties))
      // BUG: ? should trig handler instead
      this.$emit('input', this.value)
      this.$forceUpdate()
      // update scroll
      setTimeout(() => {
        let scrollHeight =
          parseInt(d3.select('.schematree-layout').property('scrollHeight'))
        d3.select('.schematree-layout')
          .property('scrollTop', scrollHeight)
      }, 300)
    }
  },
  computed: {
    properties() {
      if (this.value && this.value.properties) {
        return Object.keys(this.value.properties)
      } else {
        return null
      }
    }
  },
  beforeMount() {
    // console.log(JSON.stringify(this.schema), JSON.stringify(this.data))
  },
  mounted() {

  },
  beforeDestroy() {
    // save
  }
}
</script>

<style>
.schematree-layout {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@media screen and (min-width: 800px) {
  .schematree-layout {
    padding: 0 20%;
  }
}
</style>
