<template>
  <div class="user-layout">
    <jsonform v-if="user !== null && schema !== null"
      :schema="schema" :data="user" @update="handleUpdate"
      :hideNavigation="hideNavigation"></jsonform>

    <div class="user-validation">
      <v-btn flat icon color="red darken-2"
        v-if="user && !!user._id && $store.state.user.role === 'admin' &&
          user.role !== 'admin'"
        @click="handleDelete">
        <v-icon>clear</v-icon>
      </v-btn>

      <v-btn flat icon color="green darken-2"
        :disabled="!validationAllowed"
        @click="handleProceed">
        <v-icon>check</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3'
import _ from 'lodash'
import JSONForm from './JSONForm.vue'

export default {
  props: {
    value: Object,
    hideNavigation: Boolean,
    notCurrent: Boolean
  },
  data: () => {
    return {
      user: null,
      schema: null,
      validationAllowed: false
    }
  },
  methods: {
    setExpanded(expanded) {
      for (let child of this.$children) {
        if (child.$vnode.tag.match('jsonform')) {
          child.setExpanded(expanded)
        }
      }
    },
    handleUpdate(path, val, removal) {
      this.$utils.updatePropertyByPath(this.user, path, val)
      this.$forceUpdate()

      if (this.user.username !== '' && this.user.firstname !== '' && this.user.lastname !== '') {
        if (JSON.stringify(this.user) !== this.whenMounted) {
          this.validationAllowed = true
        }
      }

      if (this.notCurrent) {
        this.$store.commit('otherUser', this.user)
      } else {
        this.$store.commit('user', this.user)
      }
    },
    handleProceed() {
      if (this.$store.state.connected) {
        this.$modules.waitForService('data', 'users').then(users => {
          if (this.notCurrent) {
            users.put(this.user).then(result => {
              this.$services.$emit(this.$i18n.$t('Your updates have been validated'))
              this.$emit('input', this.user)
              this.$router.push('/users')
            }).catch(err => {
              console.log(err)
              this.$services.$emit(this.$i18n.$t('Your updates have been rejected'))
            })
          } else {
            users.updateMineExceptCred(this.user).then(result => {
              this.$services.$emit(this.$i18n.$t('Your updates have been validated'))
              if (this.user.role === 'admin') {
                this.$router.push('/users')
              } else {
                this.$router.push('/')
              }
              this.$emit('input', this.user)
            }).catch(err => {
              console.log(err)
              this.$services.$emit(this.$i18n.$t('Your updates have been rejected'))
            })
          }
        }).catch(err => {
          console.log(err)
          this.$services.$emit(this.$i18n.$t('Your updates have been rejected'))
        })
      } else {
        this.user.iio_collection = 'users'
        this.user._id = Math.random().toString(36).slice(2)
        this.$offlinedb.db.put(this.user).then(result => {
          this.$services.$emit(this.$i18n.$t('Your updates have been validated'))
          this.$emit('input', this.user)
          this.$router.push('/users')
        }).catch(err => {
          console.log(err)
          this.$services.$emit(this.$i18n.$t('Your updates have been rejected'))
        })
      }
    },
    handleDelete() {
      if (this.$store.state.connected) {
        this.$modules.waitForService('data', 'users').then(users => {
          users.del(this.user).then(result => {
            this.$router.push('/users')
          }).catch(err => console.log(err))
        }).catch(err => console.log(err))
      } else {
        this.$services.$emit(this.$i18n.$t('Deletion not allowed for offline first apps'))
      }
    }
  },
  computed: {
    userProperties() {
      return Object.keys(this.schema.properties)
    }
  },
  components: {
    jsonform: JSONForm
  },
  mounted() {
    this.user = _.cloneDeep(this.value)
    this.whenMounted = JSON.stringify(this.user)

    // get schema
    if (this.$store.state.connected) {
      d3.json('data/schemas/user.schema.json').then(schema => {
        this.schema = schema
      }).catch(err => console.log(err))
    } else {
      this.$offlinedb.db.get('schema_users').then(doc => {
        this.schema = doc.schema
      }).catch(err => console.log(err))
    }
  }
}
</script>

<style>
.user-layout {
  width: 100%;
  height: calc(100% - 48px);
}

.user-validation {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  border-top: 1px solid lightgrey;
}
</style>
