<template>
  <v-app class="app" :dark="this.$store.state.darkTheme">
    <v-toolbar class="app-toolbar"
      :flat="$store.state.flatToolbar" dense
      :color="$store.state.toolbarColor">
      <v-toolbar-side-icon v-if="logged"
        @click.stop="toggleLeftSidenav">
        <div class="app-logo app-toolbar-icon"></div>
      </v-toolbar-side-icon>

      <div v-if="logged" class="app-logo-secondary"></div>
      <div class="app-section"
        v-if="logged && $store.state.showSection && $store.state.section">
        {{ $store.state.section }}</div>

      <v-spacer></v-spacer>

      <div v-if="!logged" style="width: 100%" class="ig-centered">
        <div v-show="connected" class="app-logo"></div>

        <v-progress-circular v-show="!connected"
          indeterminate :size="20" :width="1" color="primary">
        </v-progress-circular>
      </div>

      <div v-if="logged" class="app-context-buttons">
        <v-btn flat icon v-for="b in contextButtons" :key="b.name"
          @click="b.on = !b.on; b.handleClick(b)">
          <v-icon v-if="b.on">{{ b.iconOn }}</v-icon>
          <v-icon v-if="!b.on">{{ b.iconOff }}</v-icon>
        </v-btn>
      </div>

      <div v-if="logged && user" class="ig-clickable app-avatar-small"
        @click="showNotifications = !showNotifications">
        <v-badge overlap color="pink">
          <span slot="badge" v-if="userNotifications.length > 0">
            {{ userNotifications ? userNotifications.length : 0 }}</span>

          <v-avatar :size="32" style="border: 1px solid white!important;">
            <img :src="user.avatar ? user.avatar + '&token='
              + $utils.token() : 'assets/user.png'"/>
          </v-avatar>
       </v-badge>
      </div>

      <v-progress-circular v-show="!offline && !connected && logged"
        indeterminate :size="20" :width="1" color="primary">
      </v-progress-circular>

      <v-icon v-show="offline && !connected && logged"
        color="red">cloud_off</v-icon>
    </v-toolbar>

    <v-navigation-drawer temporary app
      ref="leftSideNav" v-model="leftSidenav">
      <v-toolbar class="app-sidebar-header" flat>
        <v-list dense class="app-avatar" v-if="logged">
          <v-list-tile avatar
            @click="navTo('/profile')">

            <v-list-tile-avatar>
              <img :src="user.avatar ? user.avatar + '&token='
                + $utils.token() : 'assets/user.png'"/>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t(user.firstname + ' ' + user.lastname) }}</v-list-tile-title>

              <v-list-tile-sub-title class="app-user-contact">
                {{ user.contactInfo.email }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-list dense>
        <template v-for="(item, index) in menuItems">
          <div style="display: none" :key="index">{{ index }}</div> <!-- lint -->
          <v-subheader v-if="item && item.header" :key="item.header">{{ item.header }}</v-subheader>
          <v-divider v-if="item.divider" :inset="item.inset" :key="item.inset"></v-divider>

          <v-list-tile :key="item.title"
            v-if="item.title && !item.hideIfLogged && (item.anonymousAccess || !!logged)"
            @click="item.handler ? handleMenuItem(item.handler) :
              navTo(item.path)">
              <v-list-tile-action class="app-menu-item-icon">
                <v-icon v-if="!item.svgIcon">{{ item.icon }}</v-icon>
                <img v-if="item.svgIcon" class="ig-menu-icon" :src="item.svgIcon"/>
              </v-list-tile-action>

              <v-list-tile-content>
                <v-list-tile-title
                  :class="{ 'app-menu-item-selected':
                    $store.state.route.path === item.path }">
                  {{ $t(item.title) }}</v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>

      <v-list dense>
        <v-subheader>{{ $t('Version') }}</v-subheader>

        <v-list-tile v-if="packageInfo" @click="handleAdmin">
          <v-list-tile-action>
            <img style="width: 24px; height: 24px;"
              src="assets/ignitialio-32.png"/>
          </v-list-tile-action>
          <v-list-tile-content>
            {{ packageInfo.name }} v{{ packageInfo.version }}
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-content class="app-view">
      <transition name="fade">
        <router-view class="app-router"></router-view>
      </transition>

      <v-snackbar bottom v-model="notificationSnack"
        :timeout="5000">
      {{ notification }}
      </v-snackbar>

      <!-- Confirm dialog -->
      <v-dialog v-model="confirmDialog" max-width="500px"
        @close="handleConfirmClose">
        <v-card>
          <v-card-title>
            <div v-if="confirmationPrompt !== null">
              {{ confirmationPrompt }}
            </div>
          </v-card-title>

          <v-card-text>
          </v-card-text>

          <v-card-actions>
            <v-btn color="primary" flat
              @click="handleConfirm('ok')">
              {{ $t('Apply') }}
            </v-btn>

            <v-btn color="error" flat
              @click="handleConfirm('cancel')">
              {{ $t('Cancel') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-bottom-sheet v-model="showNotifications">
        <v-list>
          <v-subheader>{{ $t('Notifications') }}</v-subheader>
          <v-list-tile
            v-for="notification in userNotifications" :key="notification._id"
            @click="ackNotification(notification)">

            <v-list-tile-avatar>
              <img :src="notification.image"/>
            </v-list-tile-avatar>

            <v-list-tile-title>
              <span>{{ notification.message }}</span>
              <span class="app-notification-date">
                {{ $utils.fromNow(notification._lastModified) }}</span>
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-bottom-sheet>
    </v-content>
  </v-app>
</template>

<script>
import * as d3 from 'd3'
import colors from 'vuetify/es5/util/colors'

export default {
  data: () => {
    return {
      offline: false,
      notification: '',
      contextButtons: [],
      userNotifications: [],
      lastNotification: null,
      showNotifications: false,
      filter: '',
      packageInfo: {},
      leftSidenav: false,
      notificationSnack: false,
      confirmDialog: false,
      confirmationPrompt: null,
      menuItems: []
    }
  },
  methods: {
    search() {
      this.$services.$emit('app:ui:search')
    },
    handleConfirmClose() {
      this.$services.$emit('app:confirmation:response', 'cancel')
    },
    handleConfirm(what) {
      if (this.confirmDialog) {
        this.confirmDialog = false

        this.$services.$emit('app:confirmation:response', what)
      }
    },
    handleMenuItem(handler) {
      this[handler]()
    },
    handleAdmin() {
      this.navTo('/admin')
    },
    myNotifications() {
      this.$services.waitForProperty(this.$ws.socket, '_logged').then(_logged => {
        this.$modules.waitForService('data', 'notifications').then(notifications => {
          notifications.obtainMine().then(result => {
            this.userNotifications = []
            for (let notification of result.docs) {
              if (notification.status === 'noack') {
                this.userNotifications.push(notification)
              }
            }
            // console.log('user notifications', this.userNotifications.length)
            this.$forceUpdate()

            this.lastNotification =
              this.userNotifications[this.userNotifications.length - 1]
          }).catch(err => console.log(err))
        }).catch(err => console.log(err))
      }).catch(err => console.log(err))
    },
    ackNotification(notification) {
      if (notification.status === 'noack') {
        notification.status = 'ack'
        this.$modules.waitForService('data', 'notifications').then(notifications => {
          notifications.put(notification).then().catch(err => console.log(err))
          this.$services.$emit('app:user:notification:update')
        }).catch(err => console.log(err))
      }
    },
    loadConfig() {
      return new Promise((resolve, reject) => {
        // rest config
        this.$services.waitForProperty(this.$ws.socket, '_logged').then(() => {
          this.$services.waitForService('config').then(config => {
            config.get().then(cfg => {
              // store cfg for further use
              this.$store.commit('config', cfg)

              // prepare for rest calls
              this.$store.commit('rest', cfg.rest)
              // menu
              this.menuItems = cfg.appMenu.items
              // offline
              this.offline = cfg.offline.activated

              // we are connected for sure
              if (!this.$store.state.connected) this.$store.commit('connected', true)

              // theming
              if (cfg.theming) {
                this.$store.commit('flatToolbar', cfg.theming.flatToolbar)
                this.$store.commit('toolbarColor', cfg.theming.toolbarColor)
                this.$store.commit('darkTheme', cfg.theming.darkTheme)

                // update primary color
                if (cfg.theming.darkTheme) {
                  this.$vuetify.theme.primary = colors.amber.darken2
                  this.$store.commit('toolbarColor', 'transparent')
                } else {
                  this.$vuetify.theme.primary = colors.blue.darken2
                }
              }
              resolve(cfg)
            }).catch(err => reject(err))
          }).catch(err => reject(err))
        }).catch(err => reject(err))
      })
    },
    navTo(route) {
      this.toggleLeftSidenav()
      this.$router.push(route)
    },
    toggleLeftSidenav() {
      this.leftSidenav = !this.leftSidenav
    },
    toggleRightSidenav() {
      this.$services.$emit('app:ui:toggleSidenav')
    },
    logout() {
      // BUG: needs removal here since wierd behaviour
      d3.select('.app-context-buttons').selectAll('*').remove()
      if (!this.$store.state.user) {
        console.log('already logged out')
        return
      }

      if (this.$store.state.connected) {
        this.$services.waitForService('auth').then(auth => {
          auth.signout().then(() => {
            this.$modules.waitForService('data').then(data => {
              data.connections.signOutLog().catch(err => console.log(err))

              this.$ws.resetLocalCredentials()
              this.leftSidenav = false
              this.$router.push('/login')
              this.$services.$emit('app:loggedout')
            })
          }).catch(err => {
            console.log('sign out error', err)
          })
        })
      } else {
        this.$ws.resetLocalCredentials()
        this.leftSidenav = false
        this.$router.push('/login')
      }
    },
    handleFilterUpdate(e) {
      this.$services.$emit('app:filter', e)
    }
  },
  mounted() {
    this.myNotifications()

    // manage contextual help
    this.$services.$on('app:help:contextual', info => {
      this.contextualHelp = info

      setTimeout(() => {
        this.contextualHelp = null
        this.$refs.helpSnack.close()
      }, 20000)
    })

    // manage external services menu items add and removal
    this.$services.$on('app:sidemenu:item:add', item => {
      for (let i = 0; i < this.servicesMenu.length; i++) {
        if (this.servicesMenu[i].title === item.title) {
          return
        }
      }
      this.servicesMenu.push(item)
    })

    this.$services.$on('app:sidemenu:item:remove', item => {
      for (let i = 0; i < this.servicesMenu.length; i++) {
        if (this.servicesMenu.title === item.title) {
          this.servicesMenu.splice(i, 1)
          console.log('sidemenu item removed')
          break
        }
      }
    })

    // manage app notifications
    this.$services.$on('app:notification', data => {
      this.notification = data
      this.notificationSnack = true
    })

    // manage contextual buttons
    this.$services.$on('app:context:buttons:add', but => {
      this.contextButtons.push(but)
    })

    this.$services.$on('app:context:buttons:clear', () => {
      this.contextButtons = []
    })

    this.$services.$on('app:context:buttons:remove', but => {
      for (let i = 0; i < this.contextButtons.length; i++) {
        if (this.contextButtons[i].name === but.name) {
          this.contextButtons.splice(i, 1)
        }
      }
    })

    // manage clipboard
    this.$services.$on('app:clipboard', data => {
      localStorage.clipboard = JSON.stringify(data)
    })

    // delete notification: internal
    this.$services.$on('app:user:notification:delete', () => {
      this.myNotifications()
    })

    // update notification: internal
    this.$services.$on('app:user:notification:update', () => {
      this.myNotifications()
    })

    // user notification based on notification collection
    this.$ws.socket.on('service:data:event:notification:add', msg => {
      if (msg) {
        this.notification = msg.name
      }

      this.myNotifications()
    })

    // logout detected
    this.$services.$on('app:logout', () => {
      if (this.user) {
        this.$ws.resetLocalCredentials()

        this.$modules.waitForService('data').then(data => {
          data.connections.signOutLog().then(() => {
            this.$services.$emit('app:loggedout')
          }).catch(err => console.log(err))
        })
      }

      this.$router.push('/login')
    })

    // login detected
    this.$services.$on('app:login', () => {
      // load user notifications
      this.myNotifications()

      this.$modules.waitForService('data').then(data => {
        data.connections.signInLog().catch(err => console.log(err))
      })

      // load config and menu items
      this.loadConfig().then(cfg => {
        let idleTime = 0

        // set timer for inactivity logout
        let idleInterval = setInterval(() => {
          idleTime++
          let timeout = cfg.logout ? cfg.logout.timeout : 15
          if (idleTime > timeout) {
            this.logout()
            clearInterval(idleInterval)
          }
        }, 60000)

        // reset on mouse movement or key pressed
        document.addEventListener('mousemove', () => {
          idleTime = 0
        })

        document.addEventListener('keypress', () => {
          idleTime = 0
        })
      }).catch(err => console.log(err))
    })

    // confirmation request
    this.$services.$on('app:confirmation:request', prompt => {
      this.confirmationPrompt = prompt
      this.confirmDialog = true
    })

    // watch connection status
    this.$ws.socket.on('disconnect', () => {
      this.$store.commit('connected', false)
      this.$services.$emit('app:disconnected')

      this.$ws.socket.once('connect', () => {
        if (!this.$store.state.connected) this.$services.$emit('app:connected')
        this.$store.commit('connected', true)
      })

      this.$ws.socket.once('reconnect', () => {
        if (!this.$store.state.connected) this.$services.$emit('app:connected')
        this.$store.commit('connected', true)
      })
    })

    this.$ws.socket.on('heartbeat', () => {
      this.$ws.heartbeat = true
    })

    let checkHeartbeat = () => {
      if (!this.$ws.heartbeat) {
        console.log('disconnected')
      } else {
        // resset heartbeat
        this.$ws.heartbeat = false
        setTimeout(checkHeartbeat, 4000)
      }
    }

    setTimeout(checkHeartbeat, 4000)

    // watch connection errors
    this.$ws.socket.on('error', err => {
      console.log(err)
    })

    // get app version
    this.$modules.waitForService('app').then(app => {
      app.info().then(result => {
        this.packageInfo = result
        // console.log(JSON.stringify(this.packageInfo))
      }).catch(err => console.log(err))
    }).catch(err => console.log(err))

    // theming
    this.$services.$on('app:toolbar:color', color => {
      this.$store.commit('toolbarColor', color)
    })

    this.$services.$on('app:toolbar:flat', flat => {
      this.$store.commit('flatToolbar', color)
    })
  },
  computed: {
    logged() {
      return this.$store.state.user
    },
    user() {
      return this.$store.state.user || {}
    },
    connected() {
      return this.$store.state.connected
    }
  }
}
</script>

<style>
.app {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}

.app-logo {
  background: url('~/assets/ignitialio-64.png');
  background-size: contain;
  width: 32px;
  height: 32px;
}

.app-toolbar-icon:hover {

}

.app-view {
  width: 100%;
  height: calc(100% - 48px);
  overflow: hidden;
}

.app-router {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}

.app-toolbar {
  z-index: 1;
}

.app-menu-item-selected {
  color: dodgerblue;
}

.app-menu-item-icon {
  display: flex!important;
  flex-flow: row!important;
  justify-content: flex-start!important;
}

.app-context-buttons {
  display: flex;
  height: 48px;
  margin-right: 8px;
  align-items: center;
}

.app-search {
  width: 200px;
}

.disconnected {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.app-sidebar-header {
  width: 100%;
  height: 168px;
  background-color: deepskyblue!important;
  background-image: url('~/assets/ignitialio-256.png');
  background-size: cover;
}

.app-avatar {
  width: 318px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.8));
  font-weight: bold!important;
}

.app-user-contact {
  font-weight: bold;
}

.app-avatar-small {
  position: relative;
  padding: 0 12px 0 4px;
}

.app-notification-date {
  font-style: italic;
  color: slategrey;
}

.app-section {
  margin-left: 8px;
  font-size: 1.5em;
  color: gainsboro;
}

@media screen and (max-width: 800px) {

}
</style>
